---
import Logo from "@/assets/Logo.astro"
---


<header class="fixed top-0 z-10 w-full bg-white/70">
    <nav class="max-w-screen-xl mx-auto flex justify-center gap-6 px-4 md:justify-between">
        <div><Logo class="invert size-16" /></div>
        <ul class="flex items-center flex-row gap-4 font-semibold">
            <li>Home</li>
            <li>Projects</li>
            <li>Contact</li>
        </ul>
    </nav>
</header>
